
.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

@media all and (max-width: 400px) {
  main {
    width: 100%;
  }

}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', serif;
  font-weight: 100;
  text-shadow: 1px 1px rgb(255,255,255, 1);
}

header {
  margin-bottom: 20px;
}

h1{
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
    font-family: Lato,appleLogo,sans-serif;
    margin: 0 0 1rem;
}

h2{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 90%;
  margin-bottom: 5px;
  margin-top: 10px;
}

h3{
  margin-top: 0;
  line-height: 110%;
  margin-bottom: 5px;
}

h4{
  margin-top: 0;
  line-height: 110%;
  margin-bottom: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  font-style: bold;
}

p {
  margin-bottom: 2px;
}

/* Form Styles */

input {
  width: 75%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}

input[type=radio] {
  width: auto;
}


.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.btn .btn-left { float: left; }
.btn .btn-right { float: right; }
.btn:hover { background-color:#888882 ; }

.btn-list { background-image: url(../images/icons/icon_list.png); }
.btn-checkin { background-color: #859835; background-image: url(../images/icons/icon_checkmark.png); }
.btn-delete { background-color: #C94C24; background-image: url(../images/icons/icon_trash.png); }
.btn-love { background-image: url(../images/icons/icon_heart.png); }
.btn-email { background-image: url(../images/icons/icon_email.png); }
.btn-meeting { background-image:  url(../images/icons/icon_meeting.png); }

.btn-pick {
  background: #2D8BCF url(../images/icons/icon_dice.png) 5px center no-repeat;
  background-size: 20px 20px;
  padding: 5px 5px 5px 30px;
  font-size: .8em;
  margin: 0 auto;
}

.btn-reset {
  background: #CB4B19 url(../images/icons/icon_reset.png)  5px center no-repeat;
  background-size: 20px 20px;
  padding: 5px 5px 5px 50px;
}


/*buttons*/

img {
   margin : 0px;
   width:150px;
   height: 150px;
}

article {
  margin-top: 100px;
}

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 50px; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0px !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 0px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }


nav a {
  float: left;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 4px;
}

nav a:hover {
  color: #E76C5A;
}


.addmeeting {
    width:100%;
}

.addmeeting .inputwrapper {
  margin-right:80px;
}

.addmeeting .inputwrapper input {
    float: left;
    width: 100%;
}

.addmeeting button {
  width: 60px;
  margin-left: 20px;
  vertical-align: center;
}

.meetings {
  padding-top: 10px;
}

.meetings h2 {
  padding-bottom: 5px;
}

.meetings .meeting {
  display: inline-block;
  padding: 10px 20px 10px 15px;
  margin: 3px 10px;
  border-radius: 4px;
  border: 1px solid #C5C5C5;


}

.meetings .meeting .btn {
  margin-right: 4px;
  padding: 1px 8px;
}

.meetings .meeting .text {
  display: inline-block;
  vertical-align: bottom;
}

.tooltip {
  position: relative;
}

.tooltip span {
  background: #FFF;
  color: #000;
  font-size: .8em;
  bottom: 100%;
  display: block;
  left: -20px;
  opacity: 0;
  padding: 2px 13px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #C5C5C5;
  -webkit-transform: translateY(25px);
     -moz-transform: translateY(25px);
      -ms-transform: translateY(25px);
       -o-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.tooltip:hover span {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.checkinslist { margin-top: 20px; }
.checkinslist h1 { color: #2D8BCF; }
.checkin h2 {
  margin: 0;
  padding: 0;
}
.checkin .btn {
  padding: 0;
  margin: 0 3px;
}

.checkinslist h3 { color: #657B83; }

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}

#google-map {
  margin-bottom: 50px;
}

/*CARD*/

.car {
  width:50px;
  height: 50px;
}

.time {
padding-top: 10px

}

.time img{
  width:25px;
  height: 25px;
}

.chair {
  padding-left: 40px;
  margin-top: 10px;

}

.chair img {
  width:25px;
  height:25px;
}

.day {
  padding-left: 40px

}
.day img {
  width:25px;
  height:25px;
}

.descr {
  margin-top: 20px;
  margin-bottom: 10px: 
}

.weather-icon{
  width:60px;
  height:60px;

}

.weather{
  margin:20px 20px 20px 20px;


}

.placeForm input{
  margin-bottom:10px; 
  height:5px;
}


/*----------------------
YELP
----------------------*/
.yelp-logo{
  margin-top: 5px;
  width:100px;
  height:70px;
}

.yelp-card{
  background-color:#f5f5f5;
  border-radius: 10px;
  padding:20px 0 0 0;
  width:650px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.yelp-card h3 {
  text-align: left;
  font-size: 17px;
  padding-left: 10px 0 0 0;
}

.yelp-link {
  width:600px;
  background-color:#0073bb;
  border-radius: 10px;
  color: white;
  padding: 5px 5px 5px 225px;
  margin-left: 30px;
  margin-right:30px;
  margin-top: 10px;
}
.yelp-link:hover{
      background-color:white;
      color:#d32323;
      border:1px solid #888882;

}

.card-title{
  margin:0px;
  font-size: 18px;
  font-family: sans-serif;
  font-style: bold;
  padding-top: 10px;
  color:#d32323;

}


.business{
  width:80px;
  height:80px;
  border-radius: 10px;  
}

.rating{
  width:80px;
  height: 15px;
  margin-right: 10px;
  margin-top: 4px;
}

.card {
  background: #e6e6e6;
  margin-bottom: 20px;
  margin-top:20px;
  padding:10px 0px 20px 20px;
  border-radius: 15px;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/*MY PROFILE*/

/*REVIEWS*/

.stars {
  width:75px;
  height: 25px;
}