<section class="newtravel">
    
    <div class="row">

  <div class="col-11" style="margin:30px 25px 10px 25px">
      <!-- MAP -->
    <h1>The Adventure Begins</h1>
    <div><p ng-model="message"></p></div>
   
    <form name="myform" class="placeForm"
    ng-submit="searchLocation()">  
        <fieldset>
        <div> 
        <label style="padding-right: 38px">Origin:</label>
        
        <input  name="origin" type="text" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="location.origin" ng-required="true" /></div>
       <div>
       <label>Destination:</label>
        
        <input  name="destination" type="text" g-places-autocomplete options="autocompleteOptions"  force-selection="true" ng-model="location.destination" ng-required="true" /></div> 
        
        <button ng-click="buttonsEnabled = true" type="submit" class="btn" style="margin:20px 0px 20px 0px">Search</button>

        </fieldset>
            <nav class="cf" ng-include="'views/partials/map.html'"></nav>
    </form>
  </div>
    <!--TRAVEL DETAILS-->
        <div class="col-9" ng-class="class" style="margin-left: 25px">  
            <div class="container"> 
             <nav class="cf" ng-include="'views/partials/new_travel_form.html'"></nav>
            </div>
        </div>   

    <!--TRAVEL WEATHER-->
        <nav class="cf" ng-include="'views/partials/new_travel_weather.html'"></nav>
       
    </div>
</section>