                <div class="col-2" style="margin:20px 0px 20px 50px; padding-left: 20px;height: 150px"> 
                        <h2 style="margin:20px 20px 20px 20px;"">WEATHER</h2>
                            <h5 style="width: 200px"> For next few days!</h5>
                                <form ng-submit="searchWeather()" name="myform">
                                    <fieldset>
                                    <input ng-show="weather" type="text" name="longitud" ng-model="weather">
                                     <button style="margin: 10px 20px 30px 20px;" type="submit" class="btn" ng-disabled="!buttonsEnabled" >{{textButton}} </button>
                                    </fieldset>
                                </form>

                                <div  ng-show="show" ng-model="today">
                                <h4 style="margin-top: 30px" class="feature-title"> TODAY! </h4>
                                <div class="feature-content">
                                   <img class="weather-today" src="../images/weather/{{today.icon}}.png" alt="">
                                <p>MAX:{{today.temperatureMax}} °F</p>
                                <p>MIN:{{today.temperatureMin}} °F</p>
                                <p>Summary:{{today.summary}}</p>
                                </div>
                            </div>
                           
                            </div>
                         <div class="row" style="margin-top:50px;height:200px" >
   
                           <div class="col-2" ng-repeat="temperature in temperatures" ng-if="$index > 1" style="margin-left:10px; width: 70px" >
                                <div ng-show="{{show}}">
                                <h6 style="font-size:14px margin-top: 50px" class="feature-title"> <br><span style="font-size:12px">Date : {{temperature.time * 1000 | date:'MM-dd-yyyy'}}</span><br></h4>
                                <div class="feature-content">
                                  <img class="weather-icon" src="../images/weather/{{temperature.icon}}.png" alt="">
                                  <p style="font-size:12px">Max:{{temperature.temperatureMax}}°F</p>
                                  <p style="font-size:12px">Min:{{today.temperatureMin}}°F</p>
                                </div>   
                                </div>
                            </div>
                        </div>