<div class="container login" > 
<section class="card success">
  <form name="myform"
    ng-submit="login();"
    novalidate>

    <div  ng-show="!isLoggedIn()">
      <h2>Welcome To</h2>
      <h1>Easy Travel</h1>
      <h6>Where Riders and Drivers Meet the Open Road...</h3>
      <p ng-show="message"></p>
    </div>

    <div class="textintro" ng-show="isLoggedIn()">
      <h1>Hi {{username}}!</h1>
      <h5>you are already login!..</h5>
    </div>

    <fieldset ng-show="!isLoggedIn()">
      <input  ng-init=" " type="email" name="email" placeholder="Email"
       ng-model="user.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>


      <input ng-init=" " type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.email.$touched">
      Password is required</p>
  
    </fieldset>
     <p class="error" type="hidden"
     ng-if="myform.$submitted"
      ng-hide="myform.password.$invalid && myform.email.$touched || myform.email.$invalid && myform.email.$touched">
      {{error}}</p>
    <button ng-show="!isLoggedIn()" type="submit" class="btn"
      ng-disabled="myform.$invalid">Login</button>
    <p ng-show="!isLoggedIn()">or <a ng-href="#!/register">register</a></p>
  </form>
</section>
</div>