<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img class="car" src="images/car.svg" alt=""> Easy Travel </a>    
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a ng-show="!isLoggedIn()" ng-href="#!/login">Login</a>
	  <a ng-show="!isLoggedIn()" ng-href="#!/register">Register</a>
    <a ng-show="isLoggedIn()" ng-href="#!/search">Search</a>
    <a ng-show="isLoggedIn()" ng-href="#!/new_travel">New Travel</a>
    <a ng-show="isLoggedIn()" ng-href="#!/user_detail/{{user_id}}" ng-click="profile()">My Profile</a>
    <a ng-show="isLoggedIn()" ng-href="#!/login" ng-click="logout()">Logout</a>

    </div>
  </div>
</nav>
