<section class="newtravel">
    
<div class="row">

  <div class="col-11" style="margin:30px 25px 10px 25px">
      <!-- MAP -->
    <h1>The Adventure Begins</h1>
    <div><p ng-model="message"></p></div>
   
    <form name="myform" class="placeForm"
    ng-submit="searchLocation()">  
        <fieldset>
        <div> 
        <label style="padding-right: 38px">Origin:</label>
        
        <input  name="origin" type="text" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="location.origin" ng-required="true" /></div>
       <div>
       <label>Destination:</label>
        
        <input  name="destination" type="text" g-places-autocomplete options="autocompleteOptions"  force-selection="true" ng-model="location.destination" ng-required="true" /></div> 
        
        <button ng-click="buttonsEnabled = true" type="submit" class="btn" style="margin:20px 0px 20px 0px">Search</button>

        </fieldset>
            <nav class="cf" ng-include="'views/partials/map.html'"></nav>
    </form>
  </div>
    <!--TRAVEL DETAILS-->
        <div class="col-9" ng-class="class" style="margin-left: 25px">  
            <nav class="cf" ng-include="'views/partials/new_travel_form.html'"></nav>
        </div>

            <!-- form end -->  
                
                <!--TRAVEL WEATHER-->

        <div class="col-2" style="margin:20px 0px 20px 50px; padding-left: 20px;height: 150px"> 
            <h2 style="margin:20px 20px 20px 20px;"">WEATHER</h2>
                <h5 style="width: 200px"> For next few days!</h5>
            <form ng-submit="searchWeather()" name="myform">
                <fieldset>
                    <input ng-show="weather" type="text" name="longitud" ng-model="weather">
                    <button style="margin: 10px 20px 30px 20px;" type="submit" class="btn" ng-disabled="!buttonsEnabled" >{{textButton}} </button>
                </fieldset>
            </form>
                <div  ng-show="show" style="margin-left: 50px" ng-model="today">
                 <h4 style="margin-top: 30px" class="feature-title"> TODAY! </h4>
                  <div class="feature-content">
                       <img class="weather-today" src="../images/weather/{{today.icon}}.png" alt="">
                       <p>MAX:{{today.temperatureMax}} °F</p>
                       <p>MIN:{{today.temperatureMin}} °F</p>
                       <p>Summary:{{today.summary}}</p>
                       </div>
                   </div>
                </div>
            
             <div class="row" style="margin-top:50px;height:200px" >
                <div class="col-2" ng-repeat="temperature in temperatures" ng-if="$index > 1" style="margin-left:10px; width: 70px" >
                    <div ng-show="{{show}}">
                    <h6 style="font-size:14px margin-top: 50px" class="feature-title"> <br><span style="font-size:12px">Date : {{temperature.time * 1000 | date:'MM-dd-yyyy'}}</span><br></h4>
                    <div class="feature-content">
                    <img class="weather-icon" src="../images/weather/{{temperature.icon}}.png" alt="">
                    <p style="font-size:12px">Max:{{temperature.temperatureMax}}°F</p>
                    <p style="font-size:12px">Min:{{today.temperatureMin}}°F</p>
                 </div>   
               </div>
            </div> 
        </div>    
    <!-- END of main row -->
    </div>
</section>