<section class="card register">
  <form name="myform"
    ng-submit="newUser()"
    novalidate>

    <div class="textintro">
      <h1>Register</h1>
      <p>To access site features</p>
      <p class="message" ng-show="message">{{message}}</p>
    </div>
    <div ng-show="errors" class="grid-100">
        <p><i>The following errors were found</i></p>
        <ul class="error validationerror">
          <li ng-repeat="error in errors">
              {{error}}
          </li>
        </ul>
      </div>
    </div>
    <fieldset>
      <input type="text" name="firstName" placeholder="First Name"
      ng-model="user.firstName" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.firstName.$invalid && myform.firstName.$touched">
      First name required</p>

      <input type="text" name="lastName" placeholder="Last Name"
      ng-model="user.lastName" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.lastName.$invalid && myform.lastName.$touched">
      Last name required</p>

      <input type="email" name="email" placeholder="Email"
      ng-model="user.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>

      <input type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.email.$touched">
      Password is required</p>

    </fieldset>

    <button type="submit" class="btn"
    ng-disabled="myform.$invalid">Register</button>
    <p>or <a ng-href="#/login">login</a></p>
  </form>
</section>
