<section class="travelpage search-card"> 
    
    <h1>Welcome {{username}}</h1>
    
    <h4 style="margin-top:10px; color:firebrick;" ><a ng-click="showTravel();compare()" href="">Travel Directory</a>/<a  ng-click="showUser()" href="">User Directory</a></h2>
    <h2 ng-show="showTravels" class="lead"><strong class="text-danger">{{lengthTravel}} </strong> Travels in total in the directory</h2>
        <h2 ng-show="showUsers" class="lead"><strong class="text-danger">{{lengthUser}}</strong> Users in total in the directory</h2>         
    <form name="myform"
    ng-submit="searchTravel();searchUsers();compare()">  
      
        <fieldset>
         <input type="search" ng-model="search" name="search" placeholder="Search..." class="ui-autocomplete-input form-control input-lg" autocomplete="off">
        </fieldset>
  
      
    <button type="submit" class="btn" style="margin-top:16px">Search</button>
   
    </form>

    <div class="row" ng-show="showTravels">
      <div class="col-2">
        <div selected class="check">Travels<input ng-init="checkboxes.Travels=true" type="checkbox" ng-model="checkboxes.Travels"> </div>
        </div>
      <div class="col-2">
        <div class="check">My Travels<input type="checkbox" ng-model="checkboxes.MyTravels"></div>
      </div> 
   </div>

      <hgroup ng-show="showSearch" class="mb10">
        <h2>Search Results</h2>
       
      </hgroup>
   
        <!-- SEARCH TRAVEL -->
   
      <nav class="cf" ng-include="'views/partials/search_travel.html'"></nav>
   
        <!-- SEARCH USER -->
   
      <nav class="cf" ng-include="'views/partials/search_user.html'"></nav>
   
     </div>
  </div>
</section>
