<section class="artistpage">
   <div class="container">
    <h2>Welcome {{username}}</h1>
    <h1>Artist Directory</h1>
    <div><p ng-model="message"></p></div>
    <form name="myform"
    ng-submit="searching()">  
    <fieldset>
     <input type="search" ng-model="search.query" ng-change="getYoutubeData(youtubeSearchText)" name="search" id="hyv-search" placeholder="Search..." class="ui-autocomplete-input form-control input-lg" autocomplete="off">
    </fieldset>
    <button type="submit" class="btn" style="margin-top:16px">Search</button>
    </form>
      <hgroup class="mb10">
        <h1>Search Results</h1>
        <h2 class="lead"><strong class="text-danger">3</strong> results were found for the search for <strong class="text-danger">Lorem</strong></h2>               
      </hgroup>

        <section class="col-md-12 col-md-6 col-md-12">
            <article class="search-result row"  ng-repeat="video in videos">
              <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" title="{{video.snippet.title}}" class="thumbnail"><img src="{{video.snippet.thumbnails.default.url}}"" alt="Lorem ipsum" /></a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h4 style="margin-top:16px"class="mb10" >{{video.snippet.title}}</h2>

                <h3>
                <p style="font-size: 16px">{{video.snippet.description}}</p>            
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                </div>
                <span class="clearfix borda"></span>
        </article>
     </div>
  </div>
</section>
